<template>
  <div>
    <h1>This is About Page!</h1>
  </div>
</template>

<script>
export default {
  deactivated() {
    console.log("deactivated About!");
  },
  activated() {
    console.log("activated About!");
  }
};
</script>
<style scoped></style>
