<template>
  <div>
    <!-- <h2>{{ cardWords }}</h2>
    <p>This is my car!</p> -->
    <div class="title">
      <slot name="title"></slot>
      <span style="color: #ccc">
        <slot name="subTitles">The Subtitle</slot>
      </span>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cardWords"]
};
</script>
<style scoped>
div {
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin: 20px auto;
  text-align: center;
}
h2 {
  color: red;
}
.title {
  font-style: italic;
}
</style>
